

p {
    color: #A5B4FC;
    text-align: center;
    font-size: 1.5em;
}
li {
    color:crimson ;
    font-size: 1.5em;

    
}
h1 , h2, h3{
    color: black;
    text-align: center;
    font-family: "Lobster", sans-serif;
    font-size: 3em;
}
