

/* "Sélectionnez une propriété et sa valeur à modifier en fonction du sélecteur choisis." */

h1, p {
    color: aqua;
    font-size: 12px;
}

/* "Pour modifier qu'un seul paragraphe ou autre sélecteur on utilisera class en HTML et le lieara comme ceci." */

.ma-classe {
    color: #663399;
}

/* "Ou on peut utiliser id= et on appelera son nom comme ceci" */

#logo {
    
}

a {
    color:black
}